body {
  background: #05070f;
  color: white;
  font-family: Segoe UI, sans-serif;
}

.dash-nav {
  height: 70px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  font-size: 26px;
  cursor: pointer;
}

.side-menu {
  position: fixed;
  top: 70px;
  right: -220px;
  width: 220px;
  height: 100%;
  background: #14182a;
  padding: 20px;
  transition: .3s;
}

.side-menu.show {
  right: 0;
}

.side-menu a {
  display: block;
  margin-bottom: 15px;
  color: #6ea8ff;
  text-decoration: none;
}

.dash-main {
  padding: 80px 40px;
}